@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-appearance: none;
}

.search-input {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.site-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

.rents-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.rent-wrapper {
  display: flex;
  flex-direction: row;
  width: 30rem;
}

.img-wrapper {
  width: 10rem;
}
