<div>
  <div class="relative mt-1 rounded-md shadow-sm">
    <input
      type="text"
      id="searchText"
      class="search block w-full rounded-md border-gray-300 pl-7 pr-12 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
      placeholder="Search for your rental"
    />
  </div>
</div>
