<div class='rent-wrapper' data-test-selector={{@dataTestSelector}}>
  <div class='img-wrapper'>
    <img src={{@product.max_photo_url}} />
  </div>
  <div>
    <h3>
        {{@product.hotel_name}}
    </h3>
    <p class="mt-1 text-sm text-gray-500">
      {{@product.price_breakdown.gross_price}}
    </p>
  </div>
</div>
