<div class="min-h-full">
  <Navbar/>
  <main>
    <SearchInput/>
    <Card @productName='Carrer de Sardenya' @dataTestSelector='carrer-de-sardenya'/>
    <Card @productName='Carrer de Argenter' @dataTestSelector='carrer-de-argenter'/>
  </main>
</div>
