{{page-title "Index"}}
<div class="min-h-full">
  <Navbar />
  <main>
    <SearchInput />
    {{#each this.model as |rent|}}
      <Card @rent={{rent}} @dataTestSelector="carrer-de-sardenya" />
    {{/each}}
  </main>
</div>
{{outlet}}
