{{page-title "Rentals"}}
<h2>Rentals</h2>
<div class="rents-wrapper">
  {{#if this.model.length}}
    {{#each this.model as |rental|}}
      <Rental @product={{rental}} />
    {{/each}}
  {{else}}
    There are no rentals
  {{/if}}
</div>
{{outlet}}
